body {
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* Высота шапки */
}

.buttonStudio {
  text-decoration: none;
  color: black;
}

.left-block {
  width: 10%;
  /* Ширина левого блока */
}

.second-left-block {
  width: 10%;
}

.menuToolBar {
  margin: 5px;
}

.center-block {
  text-align: center;
  /* Центрирование центрального блока */
  flex: 1;
  /* Занимает оставшееся пространство */
}

.right-block {
  width: 20%;
  /* Ширина правого блока */
}

.header-button {
  border: 0;
  background-color: white;
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 0px;
  margin: 5px;
}

/* .menu-button {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('C:\Users\man35\Pictures\menuToolBar.svg');
    background-size: contain;
    transition: background-image 0.2s;
    color: #A21847;
}*/

.menu-text {
  color: #a21847;
}

.design-studio-button {
  display: inline-block;
  /* Кнопка "Студия дизайна" */
  text-decoration: none;
  /* Убираем подчеркивание ссылки */
  color: #a21847;
  /* Цвет текста */
  font-family: Arial, sans-serif;
  /* Шрифт */
  font-size: 14px;
  /* Размер шрифта */
  line-height: 30px;
  /* Отступ между строками */
  padding: 6px 12px;
  /* Внутренние отступы */
  /* border: 2px solid #A21847;
    /* Граница кнопки */
  /* border-radius: 8px; */
  /* Радиус скругления углов */
  box-sizing: border-box;
  /* Учет границ в размере элемента */
  margin-left: 15px;
  /* Расстояние от кнопки "Меню" */
}

.logo-block {
  position: relative;
  /* Относительное позиционирование */
  top: 7px;
  /* Смещение блока вверх */
  left: 50%;
  /* Центрирование по горизонтали */
  transform: translateX(-50%);
  /* Перемещение влево */
  width: auto;
  /* Автоматическое определение ширины */
  max-width: 100px;
  /* Максимальная ширина */
  min-width: 90px;
  /* Минимальная ширина */
}

.search-icon {
  /* Стили для кнопки поиска */
  float: right;
  /* Расположение справа */
  width: 35px;
  /* Ширина */
  height: 35px;
  /* Высота */
  border-radius: 5px;
  /* Округление углов */
  cursor: pointer;
  /* Изменение курсора */
  background-color: transparent;
  /* Прозрачность фона */
  opacity: 0.7;
  /* Непрозрачность */
  transition: opacity 0.3s;
  /* Время перехода */
}

.location-icon {
  /* Стили для иконки геолокации */
  float: right;
  /* Расположение справа */
  width: 35px;
  /* Ширина */
  height: 35px;
  /* Высота */
  border-radius: 5px;
  /* Округление углов */
  cursor: pointer;
  /* Изменение курсора */
  background-color: transparent;
  /* Прозрачность фона */
  opacity: 0.7;
  /* Непрозрачность */
  transition: opacity 0.3s;
  /* Время перехода */
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  /* display: flex;
  min-height:100%; */
}

header {
  background-color: white;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  /* Партнеры */
  width: 222.67px;
  height: 23px;
  /* Обычный текст */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* белый */
  color: #ffffff;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.about,
.services,
.contact {
  margin-bottom: 40px;
}

.about img,
.services img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.social-links {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  width: 30%;
  /* Определяем ширину каждого элемента */
  height: auto;
  /* Автоматически устанавливаем высоту */
  padding: 10px;
  /* Добавляем отступы */
  justify-content: center;
}

footer {
  margin: 50px 50px;
  padding: 40px 32px;
  gap: 100px;
  position: absolute;
  width: 1352px;
  height: 254px;
  left: 80px;
  bottom: 72px;
  background-color: #a21847;
  color: white;
  display: flex;
  /* Устанавливаем flex-контейнер */
  justify-content: space-between;
  /* Распределяем элементы по всей строке */
  border-radius: 12px;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.contact {
  width: 30%;
  /* Определяем ширину каждого элемента */
  height: auto;
  /* Автоматически устанавливаем высоту */
  padding: 10px;
  /* Добавляем отступы */
  gap: 24px;
}

.forBuyer {
  width: 30%;
  /* Определяем ширину каждого элемента */
  height: auto;
  /* Автоматически устанавливаем высоту */
  padding: 10px;
  /* Добавляем отступы */
  gap: 24px;
}

.linkMarketPlace {
  width: 190px;
  height: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 1;
  text-decoration: none;
  gap: 24px;
}

.menu-btn {
  background-color: white;
  border: 0;
}

.logoApn {
  width: 110;
  height: 174;
}

.linkMedia {
  display: flex;
  width: 102px;
  height: 155px;
  gap: 12px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
}

.leftBottomBlock {
  display: flex;
  width: 110;
  height: 174;
}

/* .main {
    display: flex;
    flex-grow:1;
} */

.logoSocialLinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.forBuyerLinks {
  display: block;
  justify-content: end;
  align-content: flex-start;
  align-items: flex-start;
}

.contactLinks {
  display: block;
  justify-content: end;
  align-content: flex-start;
  align-items: flex-start;
}

.socialLinksFlex {
  display: block;
  justify-content: end;
  align-content: flex-start;
  align-items: flex-start;
}

.links {
  display: flex;
}

.mainPagePicture {
  position: absolute;
  width: 1352px;
  height: 700px;
  left: 80px;
  top: 104px;
}
